// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #0b3c5d;
$secondary : #1b998b;
$accent    : #f59e0b;

$dark      : #0f172a;
$dark-page : #0b1220;

$positive  : #16a34a;
$negative  : #e11d48;
$info      : #0ea5e9;
$warning   : #f59e0b;
